h1 {
    text-align: center;
    color: green;
}


h2, h4, h5, p {
    text-align: center;
}

.link {
    text-align: center;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.container { 
    height: 100px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.btn-primary { 
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #C9A0FF ;
}

nav {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  display: inline-block;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color:white;
  font-size: 1.5em;
}

nav a:hover {
  color: #C9A0FF;
  text-decoration: none;
}

footer {
  background-color: #C9A0FF ;
  padding: 10px;
  text-align: center;
}